body {
    background-color: var(--bgcolor);
}

.sec1 {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/penunjang/pexels-arief-setiawan-10066718.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

}

.title {
    color: #fff;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.judul {
    font-size: 35pt;
    text-align: center;
}

.sub {
    font-size: 25pt;
    text-align: center;
}

.inptext {
    border: none;
    border-bottom: 1px solid #fff;
    font-size: 13pt;
    background-color: transparent;
    margin-bottom: 10%;
    color: #fff;
}

.inpbutt {
    width: 22vw;
}